/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

/*<uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 200 to 800 */

 .dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .old-standard-tt-regular-italic {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: italic;
  }
   

/* footer links */
#social-networks-links {
text-align: center;
display: flex;
justify-content: space-evenly;
padding: 20p 0;

}

/* Hero image */
#hero {
    height: 300px;
    width: 100%;
    background: url("../images/clouds.webp") no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* main background image */
#main-background {
    height: 700px;
    width: 100%;
    background: url("../images/hero-image.webp.webp") no-repeat center center/cover;
}

nav {
    box-shadow: 0 2px 100px #70c8e6;
    
}

.logo-text {
    color: white;
    background-color: rgba(143, 237, 196, 0.411);
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 10px;
    
    }

    main section div {

    }

    #tips-quotes-container1 {
     
   
    }

    #tips-quotes-container2 {
      /* background-color: rgba(143, 237, 196, 0.411);
      border-radius: 50px; */
      
    }

    #tips-quotes-container3 {
      
     
    }

    .tip {
      margin-top: 2.5%;
    
    }

    .quote {
      margin-top: 5%;
  
    }

   