/* footer links */
#social-networks-links {
text-align: center;
display: flex;
justify-content: space-evenly;
padding: 20p 0;

}

/* Hero image */
#hero {
    height: 300px;
    width: 100%;
    background: url("../images/clouds.webp") no-repeat center center/cover;
}

/* main background image */
#main-background {
    height: 700px;
    width: 100%;
    background: url("../images/hero-image.webp.webp") no-repeat center center/cover;
}